* {
  margin: 0;
  padding: 0;
}

.logo a {
  color: #4A4A4A;
}

main {
  max-width: 1140px;
  color: #4A4A4A;
}

section {
  margin-bottom: 100px;
}

.text-color {
  color: #4A4A4A;
}

.carousel-item {
  min-height: 400px;
  max-height: 600px;
}

.carousel-title {
  font-size: 4rem;
}

.carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.555);
}

.carousel-caption {
  position: absolute;
  align-items: center;
  top: 30%;
}

.top {
  min-height: 400px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url('images/cover/cover-1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.courses-top {
  max-width: 500px;
}

.courses-heading {
  font-size: 50px;
}

.row>* {
  padding-left: 0;
  padding-bottom: 0;
}

.bg-register {
  background-color: #289BDE;
}

.text-register {
  color: #289BDE;
}

.view-btn a:hover {
  background-color: #42adeb;
}

.rating i {
  color: gold;
}

.left-circle {
  background-color: #bce2f8;
}

.left-circle i {
  color: #289BDE;
}

.right-circle {
  background-color: #289BDE;
}

.right-circle i {
  color: #fff;
}

.accordion-button {
  background-color: #b2daf141;
}

footer {
  min-height: 400px;
  max-height: 800px;
  /* height: 500px; */
  /* padding-bottom: 100px; */
}

.icon-background {
  background-color: #b2daf111;
}
